.page-layout {
    min-height: 100vh;
}

.page-content {
    margin-left: 255px;
    padding: 20px;
    width: calc(100% - 255px);
    min-height: calc(100vh - 85px);
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .page-content {
        margin-left: 0;
        padding-top: 75px;
    }
}